<article class="flex flex-col gap-y-4
text-gray-200 sm:text-xl
max-w-[65ch]">
  <p>
    Hola, tengo 23 y soy de <span
      class="uppercase font-extrabold tracking-wider bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 via-blue-500 to-red-500"
      >COLOMBIA</span
    >. Soy una persona que le gusta y disfruta aprender cosas relacionadas a la
    tecnología. Desde muy pequeño me ha interesado la
    <span class="font-semibold text-secondary">programación</span> es por eso que
    inicie aprendiendo a crear videojuegos en Unity.
  </p>
  <p>
    Creo que gran un porcentaje de niños suelen dejar algunos gustos de lado y
    yo hice parte de ese porcentaje. Comencé con nuevos gustos como el fútbol,
    videojuegos, series/YouTube, entre otros y me alejé de la programación.
  </p>
  <p>
    En mis últimos años de colegio no estaba seguro de que estudiar, pero
    finalmente regrese a lo que en un principio me interesaba <span
      class="font-semibold text-secondary">(programar)</span
    > y decidí estudiar <span class="font-semibold text-secondary"
      >Ingeniería de Sistemas</span
    >
    y así llegar al punto en el que estoy hoy.
  </p>
  <p>
    Actualmente me encuentro en la búsqueda de empleo como <span
      class="font-semibold text-secondary">desarrollador de software</span
    >, con el fin de seguir aprendiendo y creciendo en el mundo de la
    tecnología.
    <span class="font-semibold text-secondary"
      >He usado diferentes lenguajes de programación</span
    > a lo largo de mi experiencia educativa y laboral.
  </p>
  <p>
    En lo laboral tengo <span class="font-semibold text-secondary"
      >+10 meses de experiencia profesional</span
    > como desarrollador Fullstack lo que incluye manejo de tecnologías en Frontend
    <span class="font-semibold text-secondary"
      >(React, Angular, JavaScript)</span
    >, Backend
    <span class="font-semibold text-secondary"
      >(Spring Boot, ExpressJS, NodeJS, Django)</span
    >
    y manejo de bases de datos <span class="font-semibold text-secondary"
      >(MySQL, MongoDB, PostgreSQL)</span
    >; además poseo conocimiento básico de Docker. Actualmente estoy enfocado en
    <span class="font-semibold text-secondary">Java</span>.
  </p>
</article>
