---
import HeaderIcons from "../components/HeaderIcons.astro";
const { id } = Astro.props;
---

<section
  id={id}
  class="flex flex-col h-screen p-10 justify-end tracking-tighter text-white"
>
  <h2 class="text-7xl font-bold text-secondary">Andres Guevara</h2>
  <h3 class="text-3xl font-semibold">Ingeniero de sistemas</h3>
  <h4 class="text-2xl">Desarrollador web fullstack</h4>
  <HeaderIcons />
</section>
