---
import NavButton from "../components/NavButton.astro";
---

<nav
  class="flex w-full justify-end items-center gap-x-3 px-4 py-4
  text-gray-200 font-bold text-xl backdrop-blur-sm shadow-md
  fixed left-0 top-0 z-10"
>
  <NavButton href="#">Home</NavButton>
  <NavButton href="#background">Experiencia</NavButton>
  <NavButton href="#projects">Proyectos</NavButton>
  <NavButton href="#about">Sobre mi</NavButton>
</nav>
