@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Geologica Variable", system-ui, sans-serif;
      scroll-behavior: smooth;
    }
  }

.typewriter{
  @apply relative w-fit before:absolute before:inset-0 before:animate-typewriter 
  before:bg-primary after:absolute after:inset-0 after:w-[0.05em] after:animate-caret after:bg-light-gray;
}

.wip{
  @apply pointer-events-none relative 
  before:w-full before:h-full before:absolute before:top-0 before:left-0 before:bg-primary 
  before:opacity-55 before:z-10 after:right-2 after:top-2 after:absolute after:px-3
  after:rounded-full after:bg-amber-500 after:animate-pulse-slow after:content-['WIP']
  after:font-bold after:z-20 after:text-white
}
