@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Geologica Variable", system-ui, sans-serif;
    }
  }

.project-card{
  @apply hover:border-transparent before:hidden hover:before:inline-block 
  before:absolute before:bg-slate-500 before:w-32 before:h-[170%] 
  before:left-1/3 hover:before:animate-rotate 
  after:absolute hover:after:bg-secondary after:inset-1 after:rounded-xl hover:scale-105;
}

.typewriter{
  @apply relative w-[max-content] text-6xl before:absolute before:inset-0 before:animate-typewriter 
  before:bg-primary after:absolute after:inset-0 after:w-[0.05em] after:animate-caret after:bg-accent;
}
