---
import NavBar from "../sections/NavBar.astro";
interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-primary">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Andres Guevara" />
		<meta
			property="og:title"
			content="Portafolio de Andres Guevara - Desarrollador Web"
		/>
		<meta
			property="og:description"
			content="Explora mi portafolio, proyectos y experiencia como desarrollador web junior. Busco oportunidades para aprender, crecer y contribuir en el mundo del desarrollo web."
		/>
		<meta
			property="og:image"
			content="https://andresssg-portfolio.vercel.app/portfolio.webp"
		/>
		<meta property="og:url" content="https://andresssg-portfolio.vercel.app/" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<NavBar />
		<main class="space-y-40">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		color-scheme: dark light;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
